nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: large;
    
    
  }
  .grid {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
    justify-items: center;
    row-gap: 5px;
}


h2{
font-size: xx-large;
justify-items: right;
}


.grid img{
  align-items: right;
  width: 95%;
  height: 100%
}
.grid1 img{
  align-items: right;
  width: 50%;
  height: 100%;
}
.grid2 img{
  align-items: start;
  width: 50%;
  height: 50%;
}