nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: large;
    
    
  }
  .grid {
    display: grid;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    justify-items: center;
    row-gap: 5px;
}


h2{
font-size: xx-large;
justify-items: right;
}
