.grid{
    display: grid;
    grid-template-rows: 25% 75%;
    grid-template-columns: 24% 76%;
    justify-items: center;
    row-gap: 15px;
    column-gap: 5px;
}
.grid img{
        width: 98%;
        height: 100%;
}

section{
    text-align: left;
    width: 100%;
}

@media screen and (max-width:600px) {

    .grid img {
      width: 75%;
      height: 75%;
    }
   }
    
  
  @media screen and (max-height:400px) {
  
    .grid  img {
      height: 75%;
      width: 75%;
    }
   
  }
  
 
